{% extends 'base.html' %}
{% block main %}
<table class="table table-bordered">
    <thead>
        <th colspan="6">Equipes</th>
    </thead>
    <tbody>
        <tr>
            <td class="">Clube</td>
            <td class="">Sigla</td>
            <td class="" colspan="2"><a href="/admin/equipes/criar"><button type="button"
                        class="btn btn-primary">Adicionar</button></a></td>
        </tr>
        {% for e in equipes %}
        <tr>
            <td class="">{{ e.nome }}</td>
            <td class="">{{ e.sigla }}</td>
            <td class="">
                <a href="/admin/equipes/alterar/{{ e.sigla }}"><button type="button" class="btn btn-success">Alterar</button></a>
            </td>
            <td class="">
                <a href="/admin/equipes/deletar/{{ e.sigla }}"><button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}