{% extends 'base.html' %}
{% block main %}
<table class="table table-bordered">
    {% for erro in erros %}
    <thead>
        <th colspan="6">Equipes
            <div class="text-danger font-weight-normal" style="font-size: 14px;">{{ erro }}</div>
        </th>
    </thead>
    {% endfor %}
    {% for msg in mensagens %}
    <script>alert("{{ msg }}")</script>
    {% endfor %}
    <tbody>
        <tr>
            <td class="font-weight-bold">Clube ⭐</td>
            <td class="font-weight-bold">Sigla 📛</td>
            <td class="font-weight-bold">Local 🎯</td>
            <td class="font-weight-bold" colspan="2"><a href="/admin/equipes/criar">
                    <button type="button" class="btn btn-primary">Adicionar</button></a></td>
        </tr>
        {% for e in equipes %}
        <tr>
            <td class="font-weight-normal">{{ e.nome }}</td>
            <td class="font-weight-normal">{{ e.sigla }}</td>
            <td class="font-weight-normal">{{ e.local }}</td>
            <td class="font-weight-normal">
                <a href="/admin/equipes/alterar/{{ e.sigla }}"><button type="button"
                        class="btn btn-success">Alterar</button></a>
            </td>
            <td class="font-weight-normal">
                <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#modalConfirmaExclusao{{ e.sigla }}">
                    Deletar
                </button>
            </td>
        </tr>
        <!-- Modal de confirmação de exclusão de equipe -->
        <div class="modal fade" id="modalConfirmaExclusao{{ e.sigla }}" tabindex="-1" role="dialog"
            aria-labelledby="modalConfirmaExclusao" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação</h5>
                    </div>
                    <div class="modal-body">
                        Deseja realmente deletar a equipe {{ e.nome }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="/admin/equipes/deletar/{{ e.sigla }}"><button type="button"
                                class="btn btn-danger">Deletar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim modal-->
        {% endfor %}
    </tbody>
</table>
{% endblock %}