{% extends 'base.html' %}
{% block main %}
<!-- <form>
{% if not criar %}
    <div class="col-md-2 offset-md-5">
    <div class="form-group">
        <label for="validationServer013">Time Casa</label>
        <input type="text" class="form-control is-valid" id="validationServer013" placeholder="Time casa" required>
        <div class="valid-feedback">Time casa inserido!</div>
    </div>
    <div class="form-group">
        <label for="validationServer023">Time Visitante</label>
        <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Time visitante" required>
        <div class="valid-feedback">Time visitante inserido!</div>
    </div>
    <div class="form-group">
        <label for="validationServer023">Pontos Casa</label>
        <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Pontos casa" required>
        <div class="valid-feedback">Pontos casa inserido!</div>
    </div>
    <div class="form-group">
        <label for="validationServer023">Pontos Visitante</label>
        <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Pontos visitante" required>
        <div class="valid-feedback">Pontos visitante inserido!</div>
    </div>
    <button type="submit" class="btn btn-success btn-block my-4">Criar</button>
{% endif %}
</form> -->
{% endblock %}