{% extends 'base.html' %}
{% block main %}

<!--    
    Verificar o formulário,
    não está trazendo as partidas
    das equipes no input e demais detalhes...
-->

<form method="POST" class="text-center border border-light p-5" novalidate>
    <img src="https://icons.iconarchive.com/icons/iconshock/soccer/256/soceer-1-icon.png" width="13%">
    <p></p>
    <div class="col-md-2 offset-md-5">
        <div class="form-group">
            <select class="form-control" name='equipecasa' id="inlineFormCustomSelect">
                {% for e in equipes %}
                <option {% if e.sigla == partida.equipe_casa.sigla %} selected  {%endif%} value="{{ e.sigla }}">{{ e.nome }}</option>
                {% endfor %}
                <option value="teste">Teste</option>
            </select>
            <small class="form-text text-muted">Insira o time da casa.</small>
        </div>
        <div class="form-group">
            <select class="form-control" name='equipevisitante' id="inlineFormCustomSelect">
                {% for e in equipes %}
                <option {% if e.sigla == partida.equipe_visita.sigla %} selected  {%endif%} value="{{ e.sigla }}">{{ e.nome }}</option>
                {% endfor %}
            </select>
            <small class="form-text text-muted">Insira o time visitante.</small>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" style="text-align: center;" name='pontoscasa' value='{{ partida.pontos_casa }}' placeholder="0" required>
            <small class="form-text text-muted">Insira os gols do time casa.</small>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" style="text-align: center;" name='pontosvisitante'  value='{{ partida.pontos_visita }}' placeholder="0" required>
            <small class="form-text text-muted">Insira os gols do time visitante.</small>
        </div>
        <button type="submit" class="btn btn-success btn-block my-4">{{ funcao }}</button>
        <button type="reset" class="btn btn-warning btn-block my-4">Limpar</button>
    </div>
</form>
{% endblock %}