{% extends 'base.html' %}
{% block main %}
<table class="table table-bordered">
    <thead>
        <th colspan="6">Detalhes</th>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">Equipe</td>
            <td class="font-weight-bold">Placar Final</td>
            <td class="font-weight-bold">Equipe</td>
        </tr>
        <tr>
            <!-- Modelo -->
            <td class="font-weight-bold">São Paulo</td>
            <td class="font-weight-bold">5 x 0</td>
            <td class="font-weight-bold">Santos</td>
        </tr>
    </tbody>
</table>
{% endblock %}