{% extends 'base.html' %}
{% block main %}
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">                    
                    Partidas da {{equipe.nome}} 🥅
                <h4>Sigla: {{ equipe.sigla }} | Origem: {{equipe.local}}</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Casa 🏡</td>
                <td class="font-weight-bold">Placar Final ⚽</td>
                <td class="font-weight-bold">Visitante 🏟️</td>
            </tr>
            {% for p in partidas %}
            <tr>
                <td class="font-weight-bold">{{ p.equipe_casa.nome}}</td>
                <td
                {% if not p.vencedor()%}
                    class="font-weight-bold empate"
                {% elif p.vencedor().sigla ==  equipe.sigla %}
                    class="font-weight-bold vitoria"
                {% else %}
                    class="font-weight-bold derrota"
                {% endif %}
                >{{ p.pontos_casa }} x {{ p.pontos_visita}}</td>
                <td class="font-weight-bold">{{ p.equipe_visita.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}