{% extends 'base.html' %}
{% block main %}
<form method="POST" class="text-center border border-light p-5" novalidate>
    <p class="h4 mb-4"><img src="https://dellyman.com/img/how-it-works/log.png" width="10%"></p>
    <ul class="erros" {% if erros | length > 0 %} style="display: block;" {% endif %}</ul>
        {% for erro in erros %}
        <li>{{ erro }}</li>
        {% endfor %}
    </ul>
    <div class="form-group">
        <div class="col-md-2 offset-md-5">
            <label for="exampleInputEmail1">Endereço de e-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                placeholder="E-mail" style="text-align: center" required>
            <small id="emailHelp" class="form-text text-muted">Exemplo: admin@admin.com</small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 offset-md-5">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="senha" placeholder="Senha"
                style="text-align: center" required>
            <small id="senhaHelp" class="form-text text-muted">Exemplo: admin123*</small>
        </div>
    </div>
    <div class="col-md-2 offset-md-5">
        <button type="submit" class="btn btn-info btn-block my-4">Entrar</button>
    </div>
</form>
{% endblock %}