{% extends 'base.html' %}
{% block title %}
    SysTeam: Classificação
{% endblock %}
{% block main %}
<div class="img-titulo"><!-- Renomera pois n serve só pra img-->
    <img src="/static/images/icon-classificacao-equipes.gif">
</div>
<div class="div-tabela"><!-- Renomear para tabela-campeonato -->
    <table class="table">
        <tbody>
            <div>
                <th class="font-weight-bold">#</th>
                <th class="font-weight-bold">Clube</th>
                <th class="font-weight-bold">Pontos</th>
                <th class="font-weight-bold">Jogos</th>
                <th class="font-weight-bold">Vitórias</th>
                <th class="font-weight-bold">Empates</th>
                <th class="font-weight-bold">Derrotas</th>
            </div>
            {% for sigla in dados %}
            <tr>
                <td>{{ dados[sigla]['posicao'] }}° </td>
                <td class="Clube">
                    {% if session['usermail']%}
                    <a href="/admin/equipes/alterar/{{ sigla }}">{{ dados[sigla]['objeto'].nome }}</a>
                    {% else %}
                    <a href="/detalhes/{{ sigla }}">{{ dados[sigla]['objeto'].nome }}</a>
                    {% endif %}
                </td>
                <td class="Pontos">{{ dados[sigla]['pontos'] }}</td>
                <td class="Jogos">{{ dados[sigla]['jogos'] }}</td>
                <td class="Vitórias">{{ dados[sigla]['vitorias'] }}</td>
                <td class="Empates">{{ dados[sigla]['empates'] }}</td>
                <td class="Derrotas">{{ dados[sigla]['derrotas'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}